html {
  margin: 0;
  height: 100vh;
}

body {
  margin: 0;
}

main {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(backimg.png);
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
}

.sinnkitoukou_shadow{
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 30 !important;
  position: fixed;
}

.sinnkitoukou {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50 !important;
}

.sinnkitoukou_wrapper {
  width: 70vw;
  height: 140vw;
  margin: 0;
  padding: 0;
  opacity: 1 !important;
}

.backbutton_wrapper {
  width: 70vw;
  height: 10vw;
  margin: 0;
  opacity: 1 !important;
}

.backbutton_wrapper p {
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 0;
  color: white;
  font-weight: bold;
  position:absolute;
  opacity: 1 !important;
  z-index: 100 !important;
}

.sinnkitoukou_contents {
  width: 70vw;
  height: 115vw;
  margin: 0;
  background-image: url(image\ 4.png);
  background-size: 100%;
  border: 2px solid white;
}

.sinnkitoukou_contents img {
  width: 60vw;
  height: 60vw;
  background-color: gray;
  border: 2px solid white;
  margin: 5vw 5vw 0 5vw;
}

.sinnkitoukou_contents textarea {
  width: 60vw;
  height: 35vw;
  background-color: transparent;
  border: 2px solid white;
  margin: 5vw 5vw 5vw 5vw;
  padding: 0;
}

.sinnkitoukou_button {
  width: 70vw;
  height: 10vw;
  margin: 5vw 0 0 0;
  border: 2px solid white;
  background-image: url(image\ 4.png);
  color: white;
  font-size: 20px;
}

.wrapper {
  width: 95vw;
  height: 95vh;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper2  {
  width: 90vw;
  height: 90vh;
  border: 1px solid white;
  display: flex;
  justify-content: center;
}

.wrapper3  {
  width: 80vw;
  height: 90vh;
}

.contents_top {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid white;
}

.other {
  width: 100px;
  height: 26px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.my {
  width: 100px;
  height: 26px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.contents {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.on {
  color: black;
  background-color: white;
}

.off {
  color: white;
}

.contents2 {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

/* ここからは繰り返し使うところです */

.content1 {
  width: 40vw;
  height: 72vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1_wrapper {
  width: 38vw;
  height: 70vw;
  margin: auto;
  padding: 0;
  border: 1px solid white;
  display: flex;
  justify-content: center;
}

.content1_wrapper2 {
  width: 30vw;
  height: 70vw;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content1_img {
  width: 30vw;
  height: 30vw;
  background-color: gray;
  margin: 3vw 0 0 0;
}

.content1_text {
  width: 30vw;
  height: 24vw;
  margin: 2vw 0 0 0;
  color: white;
  font-size: 10px;
}

.content1_user {
  width: 30vw;
  height: 6vw;
  margin: 2vw 0 3vw 0;
  display: flex;
}

.content1_userimg {
  width: 6vw;
  height: 6vw;
  background-color: gray;
  margin: 0 3vw 0 0;
}

.content1_username {
  margin: 0;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
}

/* 繰り返しの終わりです */

.extrabutton {
  width: 40vw;
  height: 72vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extrabutton_wrapper {
  width: 38vw;
  height: 70vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(image.png);
  background-size: 150%;
  background-position: center;
  border: 1px solid white;
  flex-direction: column;
}

.extrabutton_title{
  width: 38vw;
  height: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5 !important;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.extrabutton_touch {
  width: 38vw;
  height: 70vw;
  margin: -70vw 0 0 0;
  display: flex;
  justify-content: center;
  align-items: end;
}

.extrabutton_touch p {
  margin-bottom: 5vw;
  font-size: 10px;
  color: white;
}

.contents_bottom {
  width: 80vw;
  height: 10vh;
  border-top: 1px solid white;
  display: flex;
  justify-content: right;
  align-items: center;
}

.contents_bottom_wrapper {
  width: 80vw;
  height: 10vh;
  border-top: 1px solid white;
  display: flex;
  justify-content: right;
  align-items: center;
}

.settei {
  width: 6vh;
  height: 6.5vh;
  background-image: url(Icon.png);
  background-size: 100%;
  border: 0cap;
  padding: 0;
  margin: 0;
}

.newnikki {
  width: 100%;
  height: 10vh;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 -80vw;
}

.newnikki button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  color: white;
  background-image: url(Rectangle\ 9.png);
  background-size: 130%;
  background-position: center;
}

.none {
  display: none;
}