<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/style.css" media="all">

<body>
  <main>
    <div class="logo_wrapper">
      <div class="logo">

      </div>
    </div>
    <div class="wrapper">
      <div class="contents_wrapper_3" id="top">
        <form action="/login" method="GET">
          <button type="submit" class="login_button">ログイン</button>
          <button class="account_button">アカウント作成</button>
        </form>
      </div>
    </div>
  </main>
</body>

</html>