<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/style.css" media="all">

<body>
  <main>
    <div class="logo_wrapper">
      <div class="logo">

      </div>
    </div>
    <div class="wrapper">
      <div class="contents_wrapper" id="login">
        <form action="/">
          <input type="text" placeholder="ユーザー名" name="input_username">
          <input type="text" placeholder="メールアドレス" name="input_email">
        </form>
        <button>ログイン</button>
      </div>
    </div>
  </main>
</body>

</html>