<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/yume_timeline.css" media="all">

<body>
  <main>
    <div class="sinnkitoukou_shadow">

    </div>
    <h1>Hello, {{ username }}</h1>
<!--    <div class="sinnkitoukou">-->
<!--      <div class="sinnkitoukou_wrapper">-->
<!--        <div class="backbutton_wrapper">-->
<!--          <p>←</p>-->
<!--        </div>-->
<!--        <div class="sinnkitoukou_contents">-->
<!--          <img href="">-->
<!--          <input type="text">-->
<!--        </div>-->
<!--        <button class="sinnkitoukou_button">-->
<!--          投稿する-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="wrapper">-->
<!--      <div class="wrapper2">-->
<!--        <div class="wrapper3">-->
<!--          <div class="contents_top">-->
<!--            <a class="other">ほかの夢</a>-->
<!--            <a class="my">自分の夢</a>-->
<!--          </div>-->
<!--          <div class="contents">-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="contents2">-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="extrabutton">-->
<!--              <div class="extrabutton_wrapper">-->
<!--                <div class="extrabutton_title">-->
<!--                  <p>夢を記録する</p>-->
<!--                </div>-->
<!--                <div class="extrabutton_touch">-->
<!--                  <p>TOUCH</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="contents_bottom">-->
<!--            <div class="contents_bottom_wrapper">-->
<!--              <div class="settei">-->

<!--              </div>-->
<!--            </div>-->
<!--            <div class="newnikki">-->
<!--              <button class="yumebutton">夢を記録する</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </main>
</body>

</html>