<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/yume_timeline.css" media="all">

<body>
  <main>
    <div class="sinnkitoukou_shadow">

    </div>
    <div class="sinnkitoukou">
      <div class="sinnkitoukou_wrapper">
        <div class="backbutton_wrapper">
          <p>←</p>
        </div>
        <div class="sinnkitoukou_contents">
<!--          <img href="">-->
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="select_image">
              <label for="file">アップロード</label>
              <input type="file" name="file">
            </div>
            <textarea name="description"></textarea>
            <button type="submit" class="sinnkitoukou_button">
              投稿する
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="wrapper2">
        <div class="wrapper3">
          <div class="contents_top">
            <a class="other">ほかの夢</a>
            <a class="my">自分の夢</a>
          </div>
          <div class="contents">

<!--            {% for post in post_contents %}-->
<!--            <div class="content1">-->
<!--              <div class="content1_wrapper">-->
<!--                <div class="content1_wrapper2">-->
<!--                  <img class="content1_img" href="">-->
<!--                  <p class="content1_text">{{ post['description'] }}</p>-->
<!--                  <div class="content1_user">-->
<!--                    <img class="content1_userimg">-->
<!--                    <p class="content1_username">ユーザーネーム</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            {% endfor %}-->


            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="{{ post_contents[0]['image_path'] }}">
                  <p class="content1_text">{{ post_contents[0]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">{{ post_contents[1]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">{{ post_contents[2]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">{{ post_contents[3]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">{{ post_contents[4]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">{{ post_contents[5]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">{{ post_contents[6]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">{{ post_contents[7]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">{{ post_contents[8]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">{{ post_contents[9]['description'] }}</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="contents2">
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="content1">
              <div class="content1_wrapper">
                <div class="content1_wrapper2">
                  <img class="content1_img" href="">
                  <p class="content1_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ</p>
                  <div class="content1_user">
                    <img class="content1_userimg">
                    <p class="content1_username">ユーザーネーム</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="extrabutton">
              <div class="extrabutton_wrapper">
                <div class="extrabutton_title">
                  <p>夢を記録する</p>
                </div>
                <div class="extrabutton_touch">
                  <p>TOUCH</p>
                </div>
              </div>
            </div>
          </div>
          <div class="contents_bottom">
            <div class="contents_bottom_wrapper">
              <div class="settei">

              </div>
            </div>
            <div class="newnikki">
              <button class="yumebutton">夢を記録する</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let $contents = document.getElementsByClassName("contents")[0];
      let $contents2 = document.getElementsByClassName("contents2")[0];
      let $other = document.getElementsByClassName("other")[0];
      let $my = document.getElementsByClassName("my")[0];
      let $yumebutton = document.getElementsByClassName("yumebutton")[0];
      let $sinnkitoukou = document.getElementsByClassName("sinnkitoukou")[0];
      let $backbutton_wrapper = document.getElementsByClassName("backbutton_wrapper")[0];
      let $extrabutton_title = document.getElementsByClassName("extrabutton_title")[0];
      let $sinnkitoukou_shadow = document.getElementsByClassName("sinnkitoukou_shadow")[0];
      $contents2.classList.toggle("none");
      $other.classList.toggle("on");
      $my.classList.toggle("off");
      $yumebutton.classList.toggle("none");
      $sinnkitoukou.classList.toggle("none");
      $sinnkitoukou_shadow.classList.toggle("none");
      reset_styles = function () {
        $other.classList.remove("on");
        $other.classList.remove("off");
        $my.classList.remove("on");
        $my.classList.remove("off");
        $contents.classList.remove("none");
        $contents2.classList.remove("none");
        $yumebutton.classList.remove("none");
      };
      $other.addEventListener("click", function () {
        reset_styles();
        $other.classList.toggle("on");
        $my.classList.toggle("off");
        $contents2.classList.toggle("none");
        $yumebutton.classList.toggle("none");
      });
      $my.addEventListener("click", function () {
        reset_styles();
        $other.classList.toggle("off");
        $my.classList.toggle("on");
        $contents.classList.toggle("none");
      });
      $yumebutton.addEventListener("click", function () {
        $sinnkitoukou.classList.remove("none");
        $sinnkitoukou_shadow.classList.remove("none");
      });
      $backbutton_wrapper.addEventListener("click", function () {
        $sinnkitoukou.classList.toggle("none");
        $sinnkitoukou_shadow.classList.toggle("none");
      });
      $extrabutton_title.addEventListener("click", function () {
        $sinnkitoukou.classList.remove("none");
        $sinnkitoukou_shadow.classList.remove("none");
      });

    });
  </script>
</body>

</html>